body {
	padding: 0px;
	margin: 0px;
	background: #f2f6e9;
}
.jumbotron {
	margin-bottom: 0; /*enlève le margin de base */
	background-color: #86A393;
}
/* barre de navigation */
.navbar {
	background:#0B614B;
	padding: 2px;
	margin-bottom: 0;
}
.dropbtn {
	background-color: #0B614B;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #0B614B;
	border-bottom: 5px solid #f1f1f1;
	border-top: 5px solid #f1f1f1;}

	.dropdown:hover .dropdown-content {display: block;}

	.dropdown:hover .dropbtn {background-color: #0B3B2E;}

	.header {
		background-image: url('Capture.PNG');
		background-size: cover;
		background-position: center;
		position: relative;
		margin: 0;
	}

	#wrapper { width: 300px;
		min-width: 300px;
		margin: 0 auto;
		background-color: #f2f6e9;
		color: black;
		padding: 30px;
		margin-top: 120px;
	}